<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Daniel Pimentel</title>
    <style type="text/css">
    .navbar {
        background-color: black;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="https://www.linkedin.com/in/daniel-pimentel1992/">About Me</a>
        <a class="navbar-brand" href="https://github.com/danielpimen/Scrapper">GitHub Repo</a>
        <a class="navbar-brand" href="https://github.com/danielpimen">Portfolio</a>
    </nav>
    <h1 class='text-center'> Build Your Dream Fifa Ultimate Team</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Player Name</span>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Player Rating </span>
                <input type="text" class="form-control" aria-label="Text input with radio button">
            </div>
        </div>
    </div>
    {{{ body }}}
    <h5></h5>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    	console.log('Hello');
    	$("p").click(function(){
    		const player = $("p").text();
    		//let playerLink1 = player.slice(3, -3);
    		
    		console.log(player);
    		//window.location.replace(this);
    	})
    </script>
</body>

</html>